{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profils list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sname</th>
                <th>Adress</th>
                <th>Cin</th>
                <th>Tel</th>
                <th>Other</th>
                <th>Code</th>
                <th>Adressdata</th>
                <th>Zone</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td><a href="{{ path('profil_show', { 'id': profil.id }) }}">{{ profil.id }}</a></td>
                <td>{{ profil.name }}</td>
                <td>{{ profil.sname }}</td>
                <td>{{ profil.adress }}</td>
                <td>{{ profil.cin }}</td>
                <td>{{ profil.tel }}</td>
                <td>{{ profil.other }}</td>
                <td>{{ profil.code }}</td>
                <td>{{ profil.adressdata }}</td>
                <td>{{ profil.zone }}</td>
                <td>{{ profil.city }}</td>
                <td>{{ profil.state }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profil_show', { 'id': profil.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profil_edit', { 'id': profil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_new') }}">Create a new profil</a>
        </li>
    </ul>
{% endblock %}
