{% extends 'Admin/base.html.twig' %}

{% block body %}


    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Add Role</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active">Roles</li>
                    <li class="breadcrumb-item active">New</li>
                </ol>

                <a href="{{ path('role_index') }}">  <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>List</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body">
                <h4 class="card-title">Add Role</h4>


                {{ form_start(form,{'attr':{'class':'frm-horizontal mt-4'}}) }}

                <div class="form-group">
                    <label>Nom</label>
                    {{ form_widget(form.nom,{'attr':{'class':'form-control','id':'nom','type':'text','placeholder':'Admin,Doctor...'}}) }}
                </div>


                {{ form_widget(form) }}
                <input class="btn btn-lg btn-success"  type="submit" value="ADD" />








                {{ form_end(form) }}
            </div>
        </div>
    </div>




{% endblock %}
